/* .main{
    border: solid;
    width: 30%;
    direction: rtl;
    display: inline-block;
} */

.main_add {
    max-width: 400px;
    margin:  auto;
    margin-top: 30px;
    padding: 30px;
    background-color: #f1f1f1;
    direction: rtl;
    border: 3px solid lightslategray;
    border-radius: 25px;
  }
  
  .main_add h3 {
    text-align: center;
  }
  
  .main_add input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .main_add input[type="file"] {
    margin-bottom: 20px;
  }
  
  .main_add button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:royalblue;
    color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .main_add button:hover {
    background-color: lightseagreen;
  }
   