.main_admin {
    direction: rtl;

}

.action_box_ad {
    display: flex;
    width: 100%;
    background-color: lightgray;
    justify-content: center;
    border: 0.5px solid gray;
    padding-top: 100px;
}

.ad_link {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-right: 25px;
}

.ad_link:hover {
    text-decoration: underline;
}

.outlet_admin {
    width: 80%;
    margin: auto;
    padding: 10px;
}



@media (max-width: 900px) {
    .outlet_admin {
        width: 100%;
        padding: 0px;

    }

}