.all-orders {
  margin-top: 30px;
  margin-right: 10px;

}

.all-orders .order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-right: 20px;
}

.all-orders th,
.all-orders td {
  padding: 8px;
  /* text-align: left; */
  border-bottom: 1px solid #ddd;
}

.all-orders th {
  background-color: #f2f2f2;
}

.all-orders tr:nth-child(even) {
  background-color: #f9f9f9;
}

.all-orders tr:hover {
  background-color: #e2e2e2;
}

.all-orders input {
  width: 100%;
  padding: 8px;
}

.all-orders button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.all-orders button:hover {
  background-color: #45a049;
}

.clicked_info {
  display: flex;
  margin-right: 15px;
}

.order_search_box_parent {
  display: flex;
  justify-content: space-evenly;
}

.order_search_box_child {
  width: fit-content;
  border: 1px solid green;
padding: 10px;
}

.order_search_box_child input {
  margin-top: 10px;
}

.order_search_btn {
  background-color: green;
  width: 100px;
  margin: 15px auto;
  padding: 7px;
  border-radius: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
}