.prod_box {
  position: relative;
  max-width: 250px;
  min-width: 250px;
  height: 435px;
  justify-content: center;
  padding: 10px;
  background-color: #FFFFFF;
  margin: 5px;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.prod_img {
  height: 200px;
  max-width: 230px;
  margin: auto;
  display: block;
}


.add2cart {
  padding: 10px;
  transition: all 0.3s ease;
}

.choose_quantity {
  display: flex;
  justify-content: space-around;
  padding: 6px;
  transition: all 0.3s ease;
}

.add2cart.hide {
  opacity: 0;
  transform: scale(0.5);
}

.choose_quantity.show {
  opacity: 1;
  transform: scale(1);
}

.add_amount_prod_card {
  height: 40px;
  padding: 4px 12px 4px 12px;
  position: relative;
  /* top: -5px; */
  background-color: #3A6B7E;
  border-radius: 25px;
  border: 0.5px solid lightgray;
}

.total_amount {
  margin-top: 5px;
}

.decrease_amount_prod_card {
  height: 40px;
  padding: 4px 14px 4px 14px;
  position: relative;
  /* top: -5px; */
  background-color: #3A6B7E;
  border-radius: 25px;
  border: 0.5px solid lightgray;
}

.btn_wrapper {
  border-radius: 5px;
  color: white;
  max-height: 50px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  width: 230px;
  margin: 4px auto 1px;
  /* background-color: darkgreen; */
  background-color: #264653;
  border: 0.5px solid lightgray;

}
.action_btn_set_bottom{
  position: absolute;
  bottom: 5px;
  margin: auto;
}
.popbtn {
  background-color: #E9C46A;
  /* background-color: darkblue; */
  color: black;
}

.product_title {
  font-size: 13px;
  text-align: right;
  margin-top: 5px;
  color: gray;
  min-height: 45px;
}

.product_price {
  margin-top: 5px;
  font-size: 18px;
  text-align: right;
}


/* For mobile devices */
@media (max-width: 900px) {
  .prod_box {
    max-width: 180px;
    min-width: 180px;
    height: 360px;
    margin: 2px;
  }
  .product_title{
  max-width: 155px;

  }

  .prod_img {
    max-width: 115px;
    height: 130px
  }

  .btn_wrapper {
    width: 155px;
  }
}