/* #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
   */

.mySwiper {
  width: 100%;
  height: 100%;
}


.swiper {
  margin-left: auto;
  margin-right: auto;
}

.carouselWrap {
  width: 100%;
  direction: rtl;
  /* padding-right: 15px; */
}



@media (max-width:900px) {


.carouselWrap{
}

}