.cart_main2 {
    position: relative;
    /* width: 100%; */
    background-color: red;
}
/* 
.counter {
    position: absolute;
    top: 12px;
    background-color: #263238;
    color: white;
    border-radius: 6px;
    border: 1px solid;
    font-size: small;
    padding: 2px;
}

.prod_total {
    font-weight: bold;
}

.prod_amount {
    display: flex;
    border: 1px solid;
    border-radius: 5px;
    height: 25px;
    margin-top: 4px;
}

.decrease_amount,
.add_amount {
    border-radius: 5px;
    padding: 0px 10px;
    color: white;
    font-weight: bold;
}

.decrease_amount {
    background-color: red;
}

.add_amount {
    background-color: green;
}

.display_amount {
    margin: 0px 10px 10px;
}

.checkout_section {
    position: absolute;
    bottom: 0px;
    padding-bottom: 15px;
    width: 360px;
    background-color: #40768C;
    border-radius: 5px 5px 0px 0px;
}

.total_calculator {
    border-top: 1px solid;
    text-align: center;
    font-size: large;
    height: 30px;
    color: white;
}

.checkout_btn {
    border-radius: 5px;
    font-size: x-large;
    background-color: #203B46;
    border: 1px solid lightgray;
    color: white;
    text-decoration: none;
    padding: 6px;
}

.prod_title {
    position: relative;
    height: 58px;
    direction: rtl;
    margin-top: 10px;
} */
