.cart_main {
    /* width: 20%; */
    overflow-y: auto;
    max-height: 100%;

}

.counter {
    position: absolute;
    top: 12px;
    /* right: 21px; */
    background-color: #382626;
    color: white;
    border-radius: 6px;
    border: 1px solid;
    font-size: small;
    padding: 2px;
}

.one_product {
    display: flex;
    justify-content: space-around;
    /* border-bottom: 2px solid; */
    border-bottom: 1px solid #ccc;
    margin-top: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* max-width: 360px; */
    width: 100%;
    height: 110px;
    position: relative;
    padding: 5px;
}

.one_product:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    /* Add an extra shadow effect on hover */
}

.prod_total {
    position: relative;
    height: fit-content;
    margin-top: 4px;
    font-weight: bold;
    /* top: 75px; */
    /* width: fit-content; */
}

.title_amount {
    display: block;
    /* position: relative; */
    width: 250px;
}

.prod_amount {
    /* font-size: large; */
    /* position: absolute; */
    /* height: 50px; */
    /* top: 45px; */
    /* left: 50px; */
    display: flex;
    /* background-color: blanchedalmond; */
    /* border: 1px solid; */
    border-radius: 5px;
    height: 25px;
    margin-top: 4px;
    /* width: 100px; */
}

.remove_prod {
    position: absolute;
    top: 0;
    left: 4px;
}

.decrease_amount {
    /* background-color: red; */
    /* margin: 10px; */
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    color: red;
    border: 1px solid ;
    font-weight: bold;
}

.add_amount {
    /* background-color: green; */
    border: 1px solid green;
    /* margin: 5px; */
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    color: green;
    font-weight: bold;
}

.display_amount {
    /* margin: 10px; */
    margin: 0px 10px 10px;
}

.cart_prod_img {
    height: 100px;
    right: 0;
    min-width: 100px;
    max-width: 100px;
    /* margin-top: 13px; */

}

.empty_box1 {
    height: 65px;

}

.empty_box {
    height: 80px;

}

.checkout_section {
    position: absolute;
    bottom: 0px;
    /* left: 10px; */
    padding-bottom: 15px;
    /* width: 360px; */
    width: 100%;
    background-color: #008744;
    color: white;
    border-radius: 5px 5px 0px 0px;
    /* justify-content: center; */
    border-top: 1px solid black ;
    
    border-top-left-radius: 15px;
    border-top-right-radius:15px

}

.total_calculator {
    /* border-top: 1px solid; */

    text-align: center;
    font-size: large;
    height: 30px;
    /* color: white; */
}

.checkout_btn {
    /* text-align: center; */
    /* position: absolute;
    bottom: 15px; */
    /* left: 110px; */
    margin: 90px;
    /* margin:  */
    /* margin-bottom: 100px; */
    border-radius: 5px;
    font-size: x-large;
    background-color: #ffa700;
    /* background-color: #203B46; */
    border: 1px solid white;
    color: black;
    text-decoration: none;
    padding: 4px;
}

.prod_title {
    position: relative;
    height: 60px;
    direction: rtl;
    margin-top: 10px;
}


.cart_title{
    position: fixed;
    width: 20%;
z-index: 999;
    font-size: xx-large;
    text-align: center;
    padding: 5px;
    height: 65px;
    background-color: #008744;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px;
}

@media screen and (max-width: 1200px) {

.cart_title{
    width: 100%;
}
}