.cart_main {
    position: relative;
}


.counter {
    position: absolute;
    top: 12px;
    /* right: 21px; */
    background-color: #263238;
    color: white;
    border-radius: 6px;
    border: 1px solid;
    font-size: small;

    padding: 2px;
}

.one_product {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid;
    /* max-width: 360px; */
    width: 100%;
    height: 102px;
    position: relative;
}

.prod_total {
    position: relative;
    height: fit-content;
    margin-top: 4px;
    font-weight: bold;
    /* top: 75px; */
    /* width: fit-content; */
}

.title_amount {
    display: block;
    /* position: relative; */
    width: 250px;
}

.prod_amount {
    /* font-size: large; */
    /* position: absolute; */
    /* height: 50px; */
    /* top: 45px; */
    /* left: 50px; */
    display: flex;
    /* background-color: blanchedalmond; */
    border: 1px solid;
    border-radius: 5px;
    height: 25px;
    margin-top: 4px;
    /* width: 100px; */
}

.remove_prod {
    position: absolute;
    top: 0;
    right: 0;
}

.decrease_amount {
    background-color: red;
    /* margin: 10px; */
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    color: white;
    border: 0.5px solid gray;
    font-weight: bold;
}

.add_amount {
    background-color: green;
    border: 0.5px solid gray;
    /* margin: 10px; */
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    color: white;
    font-weight: bold;
}

.display_amount {
    /* margin: 10px; */
    margin: 0px 10px 10px;
}

.cart_prod_img {
    height: 100px;
    right: 0;
    min-width: 100px;
    max-width: 100px;

}


.empty_box {
    height: 63px;

}

.checkout_section {

    position: absolute;
    bottom: 0px;
    padding-bottom: 15px;
    width: 360px;
    background-color: #40768C;
    border-radius: 5px 5px 0px 0px;
    /* justify-content: center; */
}

.total_calculator {
    border-top: 1px solid;
    text-align: center;
    font-size: large;
    height: 30px;
    color: white;
}

.checkout_btn {
    /* text-align: center; */
    /* position: absolute;
    bottom: 15px; */
    /* left: 110px; */
    margin: 100px;
    /* margin:  */
    /* margin-bottom: 100px; */
    border-radius: 5px;
    font-size: x-large;
    /* background-color: #3665f3;/ */
    background-color: #203B46;
    border: 1px solid lightgray;
    color: white;
    text-decoration: none;
    padding: 6px;
}

.prod_title {
    position: relative;
    height: 58px;
    direction: rtl;
    margin-top: 10px;
}