pip>=25.0.1
setuptools>=65.5.0
wheel>=0.40.0


asgiref==3.5.2
certifi==2023.5.7
charset-normalizer==3.1.0
Django==4.0.6
django-cors-headers==3.13.0
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.2.0
gunicorn==21.2.0
idna==3.4
packaging==23.1
Pillow==9.2.0
PyJWT==1.7.1
pytz==2022.1
requests==2.31.0
sqlparse==0.4.2
stripe==5.4.0
typing_extensions==4.6.3
urllib3==2.0.3

rembg==2.0.50
