.navigator {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 80%;
    z-index: 9;
    margin-left: 20%;
    background-color: #0057e7;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
}

.link_box {
    margin-left: auto;
    margin-right: 10px;
}

.link {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: 1px 1px 2px #666666;
    letter-spacing: 0.5px;
}

.active_link {
    padding-bottom: 7px;
    border-bottom: 5px solid royalblue;
    font-size: 25px;
    text-shadow: 1px 1px 1px royalblue
}

.link:hover {
    /* text-decoration: underline #263238;
    color: #263238; */
    /* text-decoration: underline royalblue; */
    /* color: royalblue; */
    /* border-top: 100px solid; */
    /* border-bottom: 3px solid ; */

}

.cart {
    margin-left: 10px;
}

.logo {
    margin-left: auto;
    margin-right: 50px;
}

.cartBTN {
    padding: 5px;
    position: relative;
    width: fit-content;
    display: none;
    color: white;

}

.forCartNav {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 0;
    margin-left: 0;
    z-index: 999;
    background-color: white;
    transition: transform 0.5s ease;
    transform: translateX(0%);
    /* Hidden state */
}


.forCartNav2 {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 0;
    margin-left: 0;
    z-index: 999;
    background-color: white;
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    /* Hidden state */
}

/* 
.forCartNav.open {
    left: 0;
} */


.wishList {
    position: fixed;
    width: 20%;
    overflow-y: auto;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 0;
    background-color: #F8F7F4;
    transition: right 0.5s ease;
    /* Add transition property */
    right: -100%;
    /* Initially offscreen */
}

.wishList.open {
    right: 0;
    /* Slide in */
}


.mobileCloseCart {
    position: fixed;
    top: 20px;
    z-index: 999;
    right: 25px;
    padding: 3px;
    display: none;
}

.closeSearchMobile {
    display: none;
}

.magnifierIcon {
    display: none;
}

.sideBar {
    /* height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: auto;
text-align: center; */


    position: fixed;
    width: 20%;
    overflow-y: auto;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    right: -100%;
    top: 0px;
    background-color: white;
    text-align: center;
    padding-right: 15px;
    transition: right 0.5s ease;
}

.sideBar.open {
    right: 0;
}



.wish_one_product {
    display: flex;
    justify-content: space-around;
    /* border-bottom: 2px solid; */
    border-bottom: 1px solid #ccc;
    margin-top: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* max-width: 360px; */
    width: 100%;
    height: 110px;
    position: relative;
    padding: 5px;
}

.wish_one_product:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);

}

.wish_title_amount {

    display: block;
    /* position: relative; */
    width: 230px;
    /* background-color: red; */
}

.wish_prod_title {
    position: relative;
    height: 60px;
    direction: rtl;
    margin-top: 10px;
    text-align: right;
}


.wish_cart_prod_img {
    height: 100px;
    right: 0;
    min-width: 100px;
    max-width: 100px;
    /* margin-top: 13px; */

}

.removeWishProd {
    position: absolute;
    right: 3px;
    /* top: 16px; */
    margin-top: 3px;
    z-index: 999;
    padding: 9px;
}

.cartProdCounter {
    position: absolute;
    background-color: gold;
    color: black;
    font-size: 11px;
    border-radius: 50%;
    padding: 1.5px 5px 1.5px 5px;
    margin-top: -35px;
    margin-left: 20px;
}

.wishTitle {
    font-size: xx-large;
    margin-top: 10px;
    border-bottom: 1px solid black;
}

.closeWish {
    position: absolute;
    top: 20px;
    right: 40px;
    padding: 5px;
}

.closeSideBar {
    position: absolute;
    top: 10px;
    right: 40px;
    padding: 5px;
}

.sideBarCategory {
    background-color: #F8F7F4;
    width: 250px;
    margin: auto auto 10px;
    padding: 7px;
}

.sideBarLink {
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
}

@media (max-width:900px) {
    .cartBTN {
        display: block;
    }

    .link_box {
        display: none;
    }

    .sideBar {
        /* display: block; */
        /* margin-left: auto; */
        width: 100%;
        position: fixed;
        /* overflow-y: auto; */
        height: 100%;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
        right: 0;
        top: 0;
        /* background-color: white; */
        text-align: center;

        right: -100%;
    }

    .sideBar.open {
        right: 0;
        /* Slide in */
    }

    .logo {
        margin-left: auto;
        margin-right: initial;

    }

    .cart {
        margin-left: 40px;
    }

    /* 
    .sidebar {
        margin-right: 40px;
    } */

    .navigator {
        width: 100%;
        margin: 0px;
        display: flex;
        text-align: center;

    }

    .searchBarMobile {
        position: absolute;
        width: 100%;
        display: none;
    }

    .searchBarMobile2 {
        position: absolute;
        width: 100%;
        display: block;


    }

    .magnifierIcon {
        display: block;
    }


    .closeSearchMobile {
        position: absolute;
        left: 30px;
        top: 10px;
        font-weight: bolder;
        display: block;
    }

    .mobileCloseCart {
        display: block;
    }

    .wishList {
        width: 100%;

    }

    .forCartNav {
        /* background-color: white; */
    }
}