.navigator {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 80%;
    z-index: 9;
    margin-left: 20%;
    background-color: #0057e7;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
}

/* 
.sidebar {
    display: none;
    margin-right: 10px;
    border: 0.5px solid;
    border-radius: 20px;

    font: bold;
    font-size: larger;

} */

.link_box {
    margin-left: auto;
    margin-right: 10px;
}

.link {
    font-size: 20px;
    font-weight: bolder;
    /* font-weight: bold; */
    /* color: black; */
    /* color: rgb(255, 255, 255); */
    /* margin-right: 40px; */
    text-decoration: none;
    /* background-color: red; */
    text-shadow: 1px 1px 2px #666666;
    letter-spacing: 0.5px;
}

.active_link {
    padding-bottom: 7px;
    /* padding-top: 7px; */
    border-bottom: 5px solid royalblue;
    /* border-top: 5px solid royalblue; */
    /* color: blue; */
    font-size: 25px;
    /* text-shadow: 1px 1px 2px #666666;  */
    text-shadow: 1px 1px 1px royalblue
}

.link:hover {
    /* text-decoration: underline #263238;
    color: #263238; */
    /* text-decoration: underline royalblue; */
    /* color: royalblue; */
    /* border-top: 100px solid; */
    /* border-bottom: 3px solid ; */

}

.cart {
    margin-left: 10px;
}

.logo {
    margin-left: auto;
    margin-right: 50px;
}

.cartBTN {
    padding: 5px;
    position: relative;
    /* height: 20px; */
    width: fit-content;
    /* background-color: red; */
    display: none;
    color: white;

}

.forCartNav {
    position: fixed;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    background-color: white;
}

.wishList {
    position: fixed;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    background-color: white;
}
.mobileCloseCart {
    position: fixed;
    top: 20px;
    z-index: 999;
    right: 25px;
    padding: 3px;
    display: none;
}

.closeSearchMobile {
    display: none;
}

.magnifierIcon {
    display: none;
}

.sideBar {
    /* height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: auto;
text-align: center; */


    position: absolute;
    width: 20%;
    overflow-y: auto;
    height: 600px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    right: 155px;
    top: 55px;
    background-color: white;
    text-align: right;
    padding-right: 15px;
}

@media (max-width:900px) {
    .cartBTN {
        display: block;
    }

    .link_box {
        display: none;
    }

    .sideBar {
        /* display: block; */
        /* margin-left: auto; */
        width: 100%;
        position: fixed;
    overflow-y: auto;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0;
    background-color: white;
    text-align: center;
    }

    .logo {
        margin-left: auto;
        margin-right: initial;

    }

    .cart {
        margin-left: 40px;
    }

    /* 
    .sidebar {
        margin-right: 40px;
    } */

    .navigator {
        width: 100%;
        margin: 0px;
        display: flex;
        text-align: center;

    }

    .searchBarMobile {
        position: absolute;
        width: 100%;
        display: none;
    }

    .searchBarMobile2 {
        position: absolute;
        width: 100%;
        display: block;


    }

    .magnifierIcon {
        display: block;
    }


    .closeSearchMobile {
        position: absolute;
        left: 30px;
        top: 10px;
        font-weight: bolder;
        display: block;
    }
    .mobileCloseCart{
        display: block;
    }
}