.footer_wrap {
    background-color: black;
    width: 100%;
    color: white;

    /* position: fixed; */
    /* bottom: 0; */
    /* position: relative; */
    /* margin-top: ; */
    /* margin-top: 100vh; */
}