.catDisplay{
    width: 85%;
    margin: auto;
}
.prodsCatWrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    padding-top: 10px;
}

.carousel_headling {
    display: flex;
    width: 300px;
    float: right;
    justify-content: right;
    margin-right: 20px;
    margin-top: 20px;
    /* background-color: yellow; */
}
.cat_title{
    margin-top: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif; /* Choose your font here */
    font-size: 32px;
    font-weight: 600;
    color: #333; /* Dark gray - you can adjust based on your design */
    margin-bottom: 20px; /* Creates space below the title */
    text-transform: uppercase; /* Converts the text to all caps */
    letter-spacing: 1.5px; /* Adds a bit of spacing between characters */
    line-height: 1.2; /* Adjusts the spacing between lines of text */
    border-bottom: 1px solid lightgray;
}

/* Subtitle (e.g., product names or secondary headings) */
.subtitle {
    font-family: 'Roboto', sans-serif; /* Keep consistent with the main title */
    font-size: 24px;
    font-weight: 500;
    color: #555; /* Slightly lighter gray */
    margin-bottom: 1px;
    line-height: 1.3;
}
.goBackBTN{
    position: relative;
margin: auto;
    cursor: pointer;
    background-color: yellow;
    width: fit-content;
    padding: 5px;

}