.mainDiv {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.forCart {
    /* margin-top: 75px; */
    position: fixed;
    width: 20%;
    overflow-y: auto;
    height: 100%;
    /* border-right: 1px black solid; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Define the shadow */
    /* background-color: yellow; */
    left: 0;
    /* max-height: 100%; */
    /* overflow-y: auto; */
}

.show {
    position: relative;
    /* background-color: red; */
    width: 80%;
    margin-left: 20%;
    /* margin: 1000; */
    /* padding-left: 0; */
}

.catDisplay {
    width: 70%;
    margin: auto;
    /* background-color: red; */
}

.prodsCatWrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    padding-top: 10px;
}


.carouselsWrapper {

    width: 100%;
    margin: auto;
}

.carousel_headling {
    display: flex;
    width: 450px;
    float: right;
    justify-content: right;
    /* margin-right: 20px; */
    /* margin-top: 20px; */
    /* background-color: yellow; */
}

.cat_title {
    margin-top: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /* Choose your font here */
    font-size: 32px;
    font-weight: 600;
    color: #333;
    /* Dark gray - you can adjust based on your design */
    margin-bottom: 20px;
    /* Creates space below the title */
    text-transform: uppercase;
    /* Converts the text to all caps */
    letter-spacing: 1.5px;
    /* Adds a bit of spacing between characters */
    line-height: 1.2;
    /* Adjusts the spacing between lines of text */
    border-bottom: 1px solid lightgray;
}

/* Subtitle (e.g., product names or secondary headings) */
.subtitle {
    font-family: 'Roboto', sans-serif;
    /* Keep consistent with the main title */
    font-size: 24px;
    font-weight: 500;
    color: #555;
    /* Slightly lighter gray */
    margin-bottom: 1px;
    line-height: 1.3;
    /* background-color: red; */
}

.goBackBTN {
    position: relative;
    margin: auto;
    cursor: pointer;
    background-color: yellow;
    width: fit-content;
    padding: 5px;

}

.oneCarousel {
    margin-top: 80px;
    margin-right: 15px;
}



@media screen and (max-width: 1200px) {
    .mainDiv {
    }

    .carouselsWrapper {
        width: 100%;
    }

    .carousel_headling {
        display: flex;
        width: 300px;
        float: right;
        justify-content: right;
        margin-right: 0px;
        margin-top: 0px;
        /* background-color: yellow; */
    }

    .catDisplay {
        width: 100%;
    }

    .prodsCatWrap {
        justify-content: center;
    }

    .forCart {
        display: none;
        width: 100%;
        z-index: 999;
        background-color: white;
    }

    .show {
        width: 100%;
        margin-top: 30px;
        margin-left: 0;
    }

    .oneCarousel {
        margin-right: 0px;
        margin-top: 10px;
    }

    .subtitle {
        font-size: 20px;
    }
}